@import 'imports';

.sidebarButton {
    font-weight: lighter;
    font-size: 22px;
    color: white;
    display: flex;
    width: 150px;
    height: 42px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    & span {
        width: 115px;
    }
}

.sidebarButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    align-items: center;
}

.selector {
    width: 8px;
    display: block;
    height: 28px;
    border-radius: 0 56px 56px 0;
    transition: all 0.2s ease-in-out;
}

.sidebarButtonActive {
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    font-size: 28px;
    color: white;
    display: flex;
    width: 150px;
    height: 42px;
    justify-content: space-between;
    align-items: center; 
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    text-decoration: none;
    & div {
        background-color: #ECC30B;
    }
    & span {
        width: 115px;
    }
}

.simpleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #82D173;
    transition: all .4s ease-in-out;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: 500;
    color: #202C39;
    &:hover {
        background-color: rgb(92, 150, 80);
    }
}

.simpleButtonDisabled {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.customHeader {
    color: #F1F2EB;
    width: 80%;
}

.customInput {
    border: 0;
    background: #283845;
    padding: 0.5em;
    width: 80%;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 20px;
    color: #f1f2eb;
}

.customInputFolder {
    border: 0;
    background: #283845;
    padding: 0.5em;
    width: 80%;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 20px;
    color: #f1f2eb;
    cursor: pointer;
}

.infoContainer {
    width: 70%;
    margin-top: 20px;
    text-align: center;
}

.errorContainer {
    -webkit-app-region: no-drag;
    background-color: #FE4A49;
    color: black;
    padding: 0.5em;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.repoContainer {
    background-color: #283845;
    color: #F1F2EB;
    width: 80%;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    margin: 0.2em;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    & #containerButton {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    & #repoName {
        flex: 1;
        margin-left: 50px;
    }
}

.cloning {
    background-color: red;
}

.cloned {
    background-color: whitesmoke;
}


.frameContainer {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 100;
    height: 36px;
    background-color: #F9F9F9;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(71,68,72,0.5);
    -moz-box-shadow: 0px 1px 4px 0px rgba(71,68,72,0.5);
    box-shadow: 0px 1px 4px 0px rgba(71,68,72,0.5);
    & div {
        flex: 1;
    }
}


.frameMenus {
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & div {
        -webkit-app-region: no-drag;
        display: flex;
        box-shadow: 1px 0px 1px 0px rgba(71,68,72,0.5);
        width: 138px;
        height: 36px;
        flex-basis: 138px;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: space-evenly;
        align-items: center;
        font-size: 18px;
    }
}

.frameButtons {
    -webkit-app-region: drag;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    & div:nth-child(1) {
        background-color: #EEC643;
        &:hover {
            background-color: rgb(246, 219, 131);
        }
    }
    & div:nth-child(2) {
        background-color: #82D173;
        &:hover {
            background-color: rgb(183, 231, 173);
        }
    }
    & div:nth-child(3) {
        background-color: #FE4A49;
        &:hover {
            background-color: rgb(255, 124, 124);
        }
    }

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 36px;
        flex-basis: 42px;
        flex-grow: 0;
        flex-shrink: 0;
        transition: all 0.2s ease-in-out;
        -webkit-app-region: no-drag;
    }
}

.modalBG {
    background-color: rgba(71,68,72,0.5);
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#menuClone {
    position: absolute;
    top: 36px;
    left: 224px;
    width: 200px;
    height: auto;
    background-color: #F9F9F9;
    z-index: 100;
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        transition: all .2s ease-in-out;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 36px;
        width: 100%;
        cursor: default;
        & span {
            margin-left: 28px;
        }
        &:hover {
            background-color: #0F8AE5;
        }
    }
}

#menuOpen {
    position: absolute;
    top: 36px;
    left: 362px;
    width: 200px;
    height: auto;
    background-color: #F9F9F9;
    z-index: 100;
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        transition: all .2s ease-in-out;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 36px;
        width: 100%;
        cursor: default;
        & span {
            margin-left: 28px;
        }
        &:hover {
            background-color: #0F8AE5;
        }
    }
}

#menuBranch {
    position: absolute;
    top: 36px;
    left: 500px;
    width: 200px;
    height: auto;
    background-color: #F9F9F9;
    z-index: 100;
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
        transition: all .2s ease-in-out;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 36px;
        width: 100%;
        cursor: default;
        & span {
            margin-left: 28px;
        }
        &:hover {
            background-color: #0F8AE5;
        }
    }
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cloneModalContainer {
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    width: 585px;
    height: 412px;
    background-color: #F9F9F9;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & h3 {
        width: 80%;
        margin-bottom: 10px;
    }
}

.repoItem {
    width: 100%;
    font-size: 16px;
    height: 32px;
    background-color: #f9f9f9;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(71,68,72,0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(71,68,72,0.5);
    box-shadow: 1px 1px 1px 0px rgba(71,68,72,0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s ease-out;
    &:hover {
        background: rgba(71,68,72,0.1);
    }
    & span {
        margin-left: 20px;
    }
}

.modalRepoContainer {
    height: 70%;
    width: 80%;
    border: 1px solid rgba(71,68,72,0.1);
    border-radius: 5px;
    overflow-y: scroll;
}

.selectedRepo {
    background-color: #0F8AE5;
    &:hover {
        background: #0F8AE5;
    }
}