@import 'imports';

.sidebarButton {
    font-weight: 500;
    display: flex;
    width: 70%;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    text-align: left;
    color: #F1F2EB;
    border: 0;
    font-size: 1em;
    margin: 0.2em;
    padding: 0.3em;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-in-out;
    border-radius: 10px;
    &:hover {
        background-color: #202C39;
    }
    & span {
        margin-left: 20px;
    }
}

.sidebarButtonActive {
    font-weight: 500;
    color: #E3B505;
    background-color: #202C39;
    display: flex;
    width: 70%;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border: 0;
    font-size: 1em;
    margin: 0.2em;
    padding: 0.3em;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    & span {
        margin-left: 20px;
    }
}

.simpleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #82D173;
    transition: all .4s ease-in-out;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-weight: 500;
    color: #202C39;
    &:hover {
        background-color: rgb(92, 150, 80);
    }
}

.simpleButtonDisabled {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.customHeader {
    color: #F1F2EB;
    width: 80%;
}

.customInput {
    border: 0;
    background: #283845;
    padding: 0.5em;
    width: 80%;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 20px;
    color: #f1f2eb;
}

.customInputFolder {
    border: 0;
    background: #283845;
    padding: 0.5em;
    width: 80%;
    border-radius: 10px;
    font-size: 1em;
    margin-top: 20px;
    color: #f1f2eb;
    cursor: pointer;
}

.infoContainer {
    width: 70%;
    margin-top: 20px;
    text-align: center;
}

.errorContainer {
    background-color: $RED;
    color: black;
    padding: 0.5em;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    margin-top: 300px;
}

.repoContainer {
    background-color: #283845;
    color: #F1F2EB;
    width: 80%;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    margin: 0.2em;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    & #containerButton {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    & #repoName {
        flex: 1;
        margin-left: 50px;
    }
}

.cloning {
    background-color: red;
}

.cloned {
    background-color: whitesmoke;
}